@use 'styles/base/variables';

.HomeBanner {
  background-image: url('/img/banner/home.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  padding-top: calc(variables.$header-height + 38px);
  padding-bottom: 115px;

  @media (min-width: 1920px) {
    height: 714px;
  }

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin: 0 0 34px;
    color: #FFFFFF;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 48px;
    color: #FFFFFF;
  }
}