@import 'base/reset';
@import 'base/variables';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
  color: $primary-color;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}