@use 'styles/base/variables';

.headerContainer {
  display: flex;
  justify-content: space-between;
  height: variables.$header-height;
  align-items: center;
}

.header {
  background: #fff;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.14);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  // height: 70px;
}