@use 'styles/base/variables';

.nav {
  display: flex;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      a {
        position: relative;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);

        padding: 5px;
        transition: all 0.3s;

        &::before {
          content: '';
          position: absolute;
          display: block;
          left: 5px;
          bottom: 0;
          width: 53px;
          height: 1px;
          background: #fff;
          opacity: 0;
          transition: all 0.3s;
        }

        &:hover {
          color: variables.$secondary-color--light;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}